body {
  background-color: var(--eerie-black);
  color: #e9e9e9;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: auto;
  width: 100%;
}

.main__center {
  display: flex;
  flex-direction: column;
  background-color: var(--eerie-black);
  height: 2094px;
  position: relative;
  width: 1440px;
}

.nav-bar {
  background-color: var(--eerie-black);
  box-shadow: 0px 1px 4px #b4faf140;
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.get-domain-name__container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-right: 30px;
}

.get-domain-name__text {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.get-domain-name__icon {
  height: 24px;
  margin-left: 8px;
  width: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 858px;
  justify-content: center;
  align-self: center;
  margin-top: 100px;
}

.user-info-cards-container {
  align-items: center;
  display: flex;
  height: 425px;
  position: relative;
  align-self: center;
}

.project-widget-collection {
  margin-top: 60px;
  position: relative;
  width: 100%;
}

.portfolio-widget-collection {
  margin-top: 60px;
  position: relative;
  width: 100%;
}

.title {
  color: var(--white);
  font-weight: 700;
  line-height: 28px;
  white-space: nowrap;
  width: 340px;
}

.stacked-group-2 {
  align-items: center;
  display: flex;
  position: relative;
}


