.nft-widget-collection-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nft-widget-collection-items-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}

.nft-widget {
    width: auto;
}