.stacks-wallet {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 44px;
  justify-content: space-between;
  /* position: absolute;
  left: 0;
  top: 278px;
  width: 340px; */
}

.edit-icon-nft-buttons {
  align-self: center;
  /* margin: 12px 12px; */
  cursor: pointer;
}

.nft-button-container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
}

.nft-button {
  margin: 0px 10px 0px 10px;
}